body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    padding: 1vh 1vh;
    position: sticky;
    background-color: #fff;
    position: -webkit-sticky;
    top: 0;
    }

.logo{
    height: 13vh;
    margin-left: 33%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.logoname{
    margin-left: 2vh;
    margin-right: 30%;
    margin-top: 1vh;
    color: rgb(7, 70, 129);
    font-size: 3vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar{
    background-color: rgb(9, 73, 9);
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
}
.navbar ul{
    list-style: none;
    display: flex;
    margin-left: 50vh;
    
}
.navbar ul li{
    padding: 10px 30px;
    position: relative;
    
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s;
}
.navbar ul li a:hover{
    color: black;
}
.course_menu{
    display: none;
}
.navbar ul li:hover .course_menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(9, 73, 9);
}
.course_menu ul{
    display: block;
    margin: 10px;
    
}
.course_menu ul li{
    width: 150px;
    padding-left: 0;
}
.course_menu ul li a{
    font-size: 17px; 
}

.about_menu{
    display: none;
}
.navbar ul li:hover .about_menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(9, 73, 9);
}
.about_menu ul{
    display: block;
    margin: 10px;
}
.about_menu ul li{
    width: 150px;
    padding-left: 0;
}
.about_menu ul li a{
    font-size: 17px; 
}
    

.fas {
    margin-left: 10px;
    padding-top: 3px;

}
main .one{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
main .three{
    height: 77vh;
    margin-top: 6%;
    margin-left: 19%; 
}
.two{
    height: 93vh;
    margin-top: 4.3%;
    margin-left: 10%; 
}
    
.column{
    float: left;
    margin-top: 8%;
    margin-left: 2.2%;
    width: 46%;;
    padding: 5px;
}
main .row::after{
    content: "";
    clear: both;
    display: table;
}

.six{
    height: 70vh;
    margin-top: 7%;
    margin-left: 20%;
   
}
.seven{
    height: 78vh;
    margin-top: 4%;
    margin-left: 16%;
}
.eight{
    height: 78vh;
    margin-top: 4%;
    margin-left: 16%;
}
.nine{
    height: 78vh;
    margin-top: 3.5%;
    margin-left: 16%;
}
main .ten{
    height: 78vh;
    margin-top: 8%;
    margin-left: 16%;
}
.eleven{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
.twelve{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
.agro{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
.ruminants{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
.pnm{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
.dac{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
.ffs{
    height: 75vh;
    margin-top: 3.7%;
    margin-left: 17.8%; 
}
h1{
    margin-top: 5%;
    text-align: center;
    color: rgb(5, 82, 50);
    
}
p{
    margin-left: 24.5%;
    margin-right: 12%;
    font-size: 25px;
    line-height: 2.5vh;
    color: rgb(5, 82, 50);
    
    
}
h2{
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color: rgb(5, 82, 50);
}

.gal1{
    height: 45vh;
    margin-top: 5%;
    margin-left: 8%;
}
.gal2{
    height: 45vh;
    width: 22%;
    margin-top: 5%; 
}
.gal3{
    height: 45vh;
    margin-top: 5%;   
}
.gal4{
    height: 35vh;
    margin-left: 8%; 
}
.gal5{
    height: 35vh;
}
.gal6{
    height: 35vh;
    width: 18%;
    
}
.gal7{
    height: 45vh;
    margin-left: 8%;
}
.gal8{
    height: 45vh;
}
.gal9{
    height: 50vh;
    width: 18%;
    margin-left: 3.3%;
}
.gal10{
    height: 50vh;
}
.gal11{
    height: 50vh;
    width: 30%;  
}
.gal12{
    height: 50vh;
    margin-left: 1%;
}
.gal13{
    height: 50vh;   
}
.gal62{
    height: 50vh;   
}
.gal14{
    height: 45vh; 
    margin-left: 1%;
}
.gal15{
    height: 45vh;
    width: 20%;  
}
.gal16{
    height: 45vh; 
}
.gal17{
    height: 45vh;
}
.gal18{
    height: 70vh;
    margin-left: 3%;
}
.gal20{
    height: 70vh;
}
.gal21{
    height: 65vh; 
}
.gal22{
    height: 65vh;
}
.gal23{
    height: 65vh; 
}
.gal47{
    height: 65vh;
}
.gal25{
    height: 44vh;
}
.gal26{
    height: 44vh;
}
.gal55{
    height: 50vh;
    margin-left: 6%;
}
.gal40{
    height: 50vh;
}
.gal27{
    height: 50vh;   
}
.gal41{
    height: 50vh; 
    margin-left: 3%; 
}
.gal37{ 
    height: 50vh;  
}
.gal38{
    height: 50vh;     
}
.gal54{
    height: 50vh;     
}
